<!-- Page Heading -->
<h1>Add Head of State</h1>

<!-- Form - Calling /addHeadOfState with POST and adding the headOfState -->
<form action="/addHeadOfState" method="POST">
    <!-- Country Code -->
    <label>Country Code</label>
    <input type="text" name="_id">
    <br>
    <!-- Head of State -->
    <label>Head of State</label>
    <input type="text" name="headOfState">
    <br>
    <!-- Add - Submit button -->
    <input type="submit" value="Add">
</form>

<!-- Button redirecting to Home Page -->
<a href="/">Home</a>